  <h1>Editing Perk</h1>
 <% if is_admin? %>
    <%= render 'form' %>
    <%= link_to 'Show', @perk %>
 <% else %>
    You are not admin. You do not have editing permission
 <% end %>
     <%= link_to 'Back', perks_path %>