<h1>New Perk</h1>
<% if is_admin? %>
  <div class="container">
  <%= render 'form' %>
  <br>
  <br>
<% else %>
  You are not admin. You do not have adding editing or deleting permission.
<% end %>
  <%= link_to 'Back', perks_path , class: "btn btn-primary"%>

  </div>