<% favourite = perk.favourites.where(:user_id => @user.id).first %>
  <div class="unlike_button" class = 'perk' id = 'unheart'>
    <%= link_to favourite_path(favourite.id), :method => :delete, class:'icon' do %>
        <i class='fa fa-heart'></i>
    <%end %>
    <label class='heart-count perk<%=perk.id%>'><%= perk.favourite_count %></label>
  </div>