<% if is_admin? %>
  <h1>Editing Brand</h1>

  <%= render 'form' %>

<% else %>
    You are not admin. You do not have adding or updating permission
<% end %>
  <%= link_to 'Show', @brand %> |
  <%= link_to 'Back', brands_path %>