<% if is_admin? %>
  <h1>Editing Category</h1>
  <%= render 'form' %>
<% else %>
  You are not admin. You do not have adding, editing or deleting permission.
<% end %>

  <%= link_to 'Show', @category %>
  <%= link_to 'Back', categories_path %>